/**
 * Custom CSS for Project Kamp Community
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8ab57f;
  --ifm-color-primary-dark: #7aa66d;
  --ifm-color-primary-darker: #73a064;
  --ifm-color-primary-darkest: #5f864e;
  --ifm-color-primary-light: #9ac491;
  --ifm-color-primary-lighter: #a1ca9a;
  --ifm-color-primary-lightest: #b9d8b1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-background-color: #f4f6f7;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9ac491;
  --ifm-color-primary-dark: #88bb7d;
  --ifm-color-primary-darker: #7db471;
  --ifm-color-primary-darkest: #62964d;
  --ifm-color-primary-light: #accda5;
  --ifm-color-primary-lighter: #b7d4b1;
  --ifm-color-primary-lightest: #d3e6cd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

body {
  overflow-x: hidden;
}

.button {
  background: var(--ifm-color-primary);
  border: 2px solid #2c2c2c;
  border-radius: 5px;
  color: #000;
  padding: 20px;
}

article .videocontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 45px;
}

article iframe {
  border: 5px #f29094 solid;
  border-radius: 10px;
  margin: 20px 0;
  width: 100%;
}

article .videocontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Add your existing custom CSS below */
